<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="TodoDataEntitiesConnectionString" connectionString="metadata=res://EasyTodoCorePrism/Models.Context.DataModel.csdl|res://EasyTodoCorePrism/Models.Context.DataModel.ssdl|res://EasyTodoCorePrism/Models.Context.DataModel.msl;provider=Devart.Data.PostgreSql;provider connection string=&quot;User Id=ruser;Password=raikou;Host=192.168.24.77;Database=todo_data;Persist Security Info=True;Initial Schema=ruser&quot;"
            providerName="System.Data.EntityClient" />
    </connectionStrings>
</configuration>